<!DOCTYPE html>
<html>
    <script id="tinyhippos-injected">if (window.top.ripple) { window.top.ripple("bootstrap").inject(window, document); }</script>
<head>
	<meta charset="utf-8" />
	<title>RCS Campaign Creator</title>
	<link rel="stylesheet" type="text/css" href="/campaign/stylesheets/style.css" />
</head>
<body>
	<div class="container">
        <div class="row">
          <div class="col-xs-3 col-md-1"></div>
          <div class="col-xs-14 col-md-5" style="text-align:left;" ><br/><h5>RCS Campaign Creator : Sequencer</h5></div>
          <div class="col-xs-14 col-md-5" style="text-align:right;"><br/><form class="tester"></form></div>
          <div class="col-xs-3 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-md-1"></div>
            <div class="col-xs-14 col-md-10" style="text-align:left;"><hr/></div>
            <div class="col-xs-3 col-md-1"></div>
          </div>
          <div class="row">
              <div class="col-xs-3 col-md-1"></div>
              <div class="col-xs-14 col-md-5" style="text-align:left;" ><br/><form class="load"></form></div>
              <div class="col-xs-14 col-md-5" style="text-align:right;"><br/><form class="send"></form></div>
              <div class="col-xs-3 col-md-1"></div>
            </div>
      <div class="row">
          <div class="col-xs-3 col-md-1"></div>
          <div class="col-xs-14 col-md-10">
            <h5>Create Campaign</h5>
            <form class="set well"></form>
          </div>

          <div class="col-xs-3 col-md-1"></div>
      </div>
    </div>
	<div id="res" class="alert"></div>
  <script type="text/javascript" src="/campaign/deps/jquery.min.js"></script>
  <script type="text/javascript">	  var template = {}; </script>
  <script type="text/javascript" src="/campaign/deps/underscore.js"></script>
  <script type="text/javascript" src="/campaign/deps/opt/ZSchema-browser.js"></script>
  <script type="text/javascript" src="/campaign/deps/opt/jquery.ui.custom.js"></script>
  <script type="text/javascript" src="/campaign/deps/opt/jsv.js"></script>
  <script type="text/javascript" src="/campaign/deps/opt/bootstrap-typeahead.js"></script>
  <script type="text/javascript" src="/campaign/deps/opt/bootstrap-wysihtml5.js"></script>
  <script type="text/javascript" src="/campaign/deps/opt/jquery.transloadit2.js"></script>
  <script type="text/javascript" src="/campaign/deps/opt/jsonform.js"></script>
  <script type="text/javascript" src="/campaign/javascripts/rcslist.js"></script>
  <script type="text/javascript" src="/campaign/javascripts/demo.js"></script>
  <script type="text/javascript">
  jQuery.browser = {};
  jQuery.curCSS = function(element, prop, val) {
    return jQuery(element).css(prop, val);
  };
  (function () {
      jQuery.browser.msie = false;
      jQuery.browser.version = 0;
      if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
          jQuery.browser.msie = true;
          jQuery.browser.version = RegExp.$1;
      }
  })();
	</script>
</body>

</html>