<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>RCS Campaign Creator</title>
	<link rel="stylesheet" type="text/css" href="/campaign/stylesheets/style.css" />
</head>

<body>
	<div class="container-fluid">
      <div class="row">
          <div class="col-xs-23 col-md-12" style="text-align:center;"><h4><b>RCS Campaign Creator</b></h4></div>
        </div>
        <div class="row">
          <div class="col-xs-5 col-md-2"></div>
          <div class="col-xs-9 col-md-4">
            <h4>Invite a Tester</h4>
            <form class="tester well"></form>
          </div>
          <div class="col-xs-9 col-md-4">           
            <h4>Start the Campaign</h4>
            <form class="start well"></form>   
          </div>
          <div class="col-xs-5 col-md-2"></div>
      </div>
      <div class="row">
          <div class="col-xs-5 col-md-2"></div>
          <div class="col-xs-9 col-md-5">
              <h4>Send an RCS Campaign</h4>
              <form class="set well"></form>
          </div>
          <div class="col-xs-9 col-md-3">
              <div class="emulator"></div>
          </div>
          <div class="col-xs-5 col-md-2"></div>
      </div>
    </div>
	<div id="res" class="alert"></div>
	<script type="text/javascript" src="/campaign/deps/jquery.min.js"></script>
  <script type="text/javascript" src="/campaign/deps/underscore.js"></script>
  <script type="text/javascript" src="/campaign/deps/opt/jsv.js"></script>
  <script type="text/javascript" src="/campaign/deps/opt/jquery.ui.core.js"></script>
  <script type="text/javascript" src="/campaign/deps/opt/jquery.ui.widget.js"></script>
  <script type="text/javascript" src="/campaign/deps/opt/jquery.ui.mouse.js"></script>
  <script type="text/javascript" src="/campaign/deps/opt/jquery.ui.sortable.js"></script>
  <script type="text/javascript" src="/campaign/deps/opt/bootstrap-dropdown.js"></script>
  <script type="text/javascript" src="/campaign/lib/jsonform.js"></script>
  <script type="text/javascript">
  jQuery.browser = {};
  jQuery.curCSS = function(element, prop, val) {
    return jQuery(element).css(prop, val);
  };
  (function () {
      jQuery.browser.msie = false;
      jQuery.browser.version = 0;
      if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
          jQuery.browser.msie = true;
          jQuery.browser.version = RegExp.$1;
      }
  })();
  var campaigns = <%- campaigns %>;
  var campaign = <%- campaign %>;

  var optCampaignIds = [];
  var optMessageNames = [];
  var optCampaigns = {};

  campaigns.forEach(function(campaign){
    optCampaignIds.push(campaign._id);
    optCampaigns[campaign._id] = campaign.name;
  });

  campaign.messages.forEach(function(message){
    optMessageNames.push(message.name);
  })

  optMessageNames.push("End");


  $('form.start').jsonForm({
  "schema": {
    "campaign": {
      "type": "string",
      "title": "Campaign",
      "enum": optCampaignIds
    }
  },
  "form": [
    {
      "key" : "campaign",
      "titleMap": optCampaigns
    },
    {
      "type": "actions",
      "items": [
        {
          "type": "button",
          "title": "Start",
          "onClick": function (evt) {
            var values = $('form.start').jsonFormValue();

            $.ajax({
              type: "GET",
              url: '/campaign/start/' + values.campaign
            }).done(function (result) {
              console.log("result",result);
              alert(result[0][0].statusText);
            }).fail(function (error) {
              console.log("error",error);
              alert(error.responseText);
            });
          }
        },
        {
          "type": "button",
          "title": "Load",
          "onClick": function (evt) {
            var values = $('form.start').jsonFormValue();
            window.location.href = '/campaign/rcs/' + values.campaign;
          }
        }
      ]
    }
  ]
});

  $('form.tester').jsonForm({
  "schema": {
    "msisdn": {
      "type": "string",
      "title": "Mobile Number"
    }
  },
  "form": [
    "msisdn",
    {
      "type": "actions",
      "items": [
        {
          "type": "button",
          "title": "Invite",
          "onClick": function (evt) {
            var values = $('form.tester').jsonFormValue();
            $.ajax({
              type: "POST",
              url: '/campaign/rcs/invite',
              data: values
            }).done(function (result) {
              console.log("result",result);
              alert(result[0].statusText);
            }).fail(function (error) {
              console.log("error",error);
              alert(error.responseText);
            });
          }
        }
      ]
    }
  ]
});

$('form.set').jsonForm({
  "schema": {
    "name": {
      "type": "string",
      "title": "Campaign Name"
    },
    "_id": {
      "type": "string",
      "disabled": true
    },
    "msisdn": {
      "type": "string",
      "title": "Mobile Number"
    },
    "messages": {
      "type": "array",
      "maxItems": 20,
      "items": {
        "type": "object",
        "title": "Message Set",
        "properties": {
          "_id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "question": {
            "type": "string",
            "title": "Question"
          },
          "sequence": {
            "type": "number"
          },
          "suggestions": {
            "type": "array",
            "minItems": 1,
            "maxItems": 10,
            "items": {
              "type": "object",
              "title": "Suggestion",
              "properties": {
                "_id": {
                  "type": "string"
                },
                "Type": {
                  "type": "string",
                  "title": "Type",
                  "enum": [
                    "Text",
                    "Action",
                    "Image",
                    "Product",
                    "User"
                  ]
                },
                "Trigger": {
                  "type": "string",
                  "title": "Trigger",
                  "enum": optMessageNames
                },
                "Value": {
                  "type": "string",
                  "title": "Value"
                },
                "Action": {
                  "type": "string",
                  "title": "Action",
                  "enum": [
                    "View Location",
                    "Create Calendar",
                    "Open URL",
                    "Dial Number"
                  ]
                },
                "Phone": {
                  "type": "string",
                  "title": "Phone"
                },
                "Latitude": {
                  "type": "string",
                  "title": "Latitude"
                },
                "Longitude": {
                  "type": "string",
                  "title": "Longitude"
                },
                "Query": {
                  "type": "string",
                  "title": "Query"
                },
                "Start": {
                  "type": "string",
                  "title": "Start Time"
                },
                "End": {
                  "type": "string",
                  "title": "End Time"
                },
                "Description": {
                  "type": "string",
                  "title": "Description"
                },
                "Url": {
                  "type": "string",
                  "title": "URL"
                },
                "Title": {
                  "type": "string",
                  "title": "Title"
                },
                "Price": {
                  "type": "string",
                  "title": "Price"
                },
                "Quantity": {
                  "type": "number",
                  "title": "Quantity"
                },
                "FileUrl": {
                  "type": "string",
                  "title": "File Url"
                },
                "Sequence": {
                  "type": "number",
                },
                "ThumbnailUrl": {
                  "type": "string",
                  "title": "Thumbnail Url"
                },
                "UserInfo": {
                  "type": "string",
                  "title": "User Info",
                  "enum": [
                    "Name",
                    "Address",
                    "Mobile Phone"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "form": [
    {
      "key": "_id",
      "type": "hidden"
    },
    "name",
    {
      "type": "tabarray",
      "items": {
        "type": "section",
        "legend": "{{idx}}. {{value}}",
        "items": [
          { 
            "key": "messages[].name",
            "fieldHtmlClass": "setname",
            "valueInLegend": true,
            "onChange": function (evt) {
              
              $('form.set').find("select.trigger").each(function(){
                  $(this).html("");
              });
              $('form.set').find( "input.setname" ).each(function( index ) {
                var setname = this;
                $('form.set').find("select.trigger").each(function(){
                  let option = new Option($(setname).val(), $(setname).val());
                  $(this).append($(option));
                });
              });
              $('form.set').find("select.trigger").each(function(){
                let option = new Option("End", "End");
                $(this).append($(option));
              });

              $('form.set').find("select.trigger").change();
              
            }
          },
          {
            "key": "messages[]._id",
            "type": "hidden"
          },  
          { 
            "key": "messages[].question",
            "type": "textarea"

          },
          {
            "key" : "messages[].sequence",
            "value": "{{idx}}",
            "type": "hidden"
          },
          {
            "type": "array",
            "items": [
              {
                "type": "selectfieldset",
                "key": "messages[].suggestions[].Type",
                "title": "Type of Suggestion",
                "titleMap": {
                  "Text": "Text Suggestion",
                  "Action": "Action Suggestion",
                  "Image": "Image Suggestion",
                  "Product": "Product Suggestion",
                  "User": "User Profile Suggestion"
                },
                "items": [
                  {
                    "type": "fieldset",
                    "items": [
                      {
                        "key" : "messages[].suggestions[].Trigger",
                        "fieldHtmlClass": "trigger"
                      },
                      "messages[].suggestions[].Value",
                      {
                        "key" : "messages[].suggestions[].Sequence",
                        "value": "{{idx}}",
                        "type": "hidden"
                      },
                      {
                        "key": "messages[].suggestions[]._id",
                        "type": "hidden"
                      }
                    ]
                  },
                  {
                    "type": "fieldset",
                    "items": [
                      {
                        "key" : "messages[].suggestions[].Trigger",
                        "fieldHtmlClass": "trigger"
                      },
                      "messages[].suggestions[].Value",
                      {
                        "type": "selectfieldset",
                        "key": "messages[].suggestions[].Action",
                        "title": "Type of Action",
                        "titleMap": {
                          "View Location": "View Location",
                          "Create Calendar": "Create Calendar",
                          "Open URL": "Open URL",
                          "Dial Number": "Dial Number",
                        },
                        "items": [
                          {
                            "type": "fieldset",
                            "items": [
                              "messages[].suggestions[].Latitude",
                              "messages[].suggestions[].Longitude",
                              "messages[].suggestions[].Query"
                            ]
                          },
                          {
                            "type": "fieldset",
                            "items": [
                              "messages[].suggestions[].Start",
                              "messages[].suggestions[].End",
                              "messages[].suggestions[].Description"
                            ]
                          },
                          "messages[].suggestions[].Url",
                          "messages[].suggestions[].Phone",
                          {
                            "key" : "messages[].suggestions[].Sequence",
                            "value": "{{idx}}",
                            "type": "hidden"
                          },
                          {
                            "key": "messages[].suggestions[]._id",
                            "type": "hidden"
                          }
                        ]
                      }
                    ]
                  },
                  {
                    "type": "fieldset",
                    "items": [
                      {
                        "key" : "messages[].suggestions[].Trigger",
                        "fieldHtmlClass": "trigger"
                      },
                      "messages[].suggestions[].Value",
                      "messages[].suggestions[].Description",
                      "messages[].suggestions[].Title",
                      "messages[].suggestions[].FileUrl",
                      "messages[].suggestions[].ThumbnailUrl",
                      {
                        "key" : "messages[].suggestions[].Sequence",
                        "value": "{{idx}}",
                        "type": "hidden"
                      },
                      {
                        "key": "messages[].suggestions[]._id",
                        "type": "hidden"
                      }
                    ]
                  },
                  {
                    "type": "fieldset",
                    "items": [
                      {
                        "key" : "messages[].suggestions[].Trigger",
                        "fieldHtmlClass": "trigger"
                      },
                      "messages[].suggestions[].Quantity",
                      "messages[].suggestions[].Description",
                      "messages[].suggestions[].Price",
                      "messages[].suggestions[].FileUrl",
                      "messages[].suggestions[].ThumbnailUrl",
                      {
                        "key" : "messages[].suggestions[].Sequence",
                        "value": "{{idx}}",
                        "type": "hidden"
                      },
                      {
                        "key": "messages[].suggestions[]._id",
                        "type": "hidden"
                      }
                    ]
                  },
                  {
                    "type": "fieldset",
                    "items": [
                      {
                        "key" : "messages[].suggestions[].Trigger",
                        "fieldHtmlClass": "trigger"
                      },
                      "messages[].suggestions[].Value",
                      "messages[].suggestions[].UserInfo",
                      {
                        "key" : "messages[].suggestions[].Sequence",
                        "value": "{{idx}}",
                        "type": "hidden"
                      },
                      {
                        "key": "messages[].suggestions[]._id",
                        "type": "hidden"
                      }
                    ]
                  },
                  {
                    "key": "messages[].suggestions[]._id",
                    "type": "hidden"
                  }
                ]
              }
            ]
          },
          {
            "type": "actions",
            "items": [
              {
                "type": "button",
                "title": "Send Test Message {{idx}}",
                "onClick": function (evt) {
                  var idx = Number($(evt.target).html().replace("Send Test Message ",""));
                  var values = $('form.set').jsonFormValue();
                  var message = values.messages[idx-1];

                  $.ajax({
                    type: "POST",
                    url: '/campaign/format/rcs',
                    data: {"content":JSON.stringify(message)}
                  }).done(function (result) {
                    var contentMessage = result[0];
                    if(contentMessage.text){
                      var rcsformat = {
                            "contentMessage": contentMessage
                          };

                      var content = {resource : JSON.stringify(rcsformat), msisdn : values.msisdn  };
                      $.ajax({
                          type: "POST",
                          url: '/campaign/rcs/message/send',
                          data: content
                        }).done(function (result) {
                          console.log("result",result);
                          alert(result[0].statusText);
                        }).fail(function (error) {
                          console.log("error",error);
                          alert(error.responseText);
                      });
                    }
                    else{
                      var rcsformat1 = {
                        "contentMessage": {
                          text: message.question
                        }
                      };
                      
                      var content = {resource : JSON.stringify(rcsformat1), msisdn : values.msisdn  };
                      $.ajax({
                          type: "POST",
                          url: '/campaign/rcs/message/send',
                          data: content
                        }).done(function (result) {
                          var rcsformat = {
                            "contentMessage": contentMessage
                          };
                          var content = {resource : JSON.stringify(rcsformat), msisdn : values.msisdn  };
                          $.ajax({
                              type: "POST",
                              url: '/campaign/rcs/message/send',
                              data: content
                            }).done(function (result) {
                              console.log("result",result);
                              alert(result[0].statusText);
                            }).fail(function (error) {
                              console.log("error",error);
                              alert(error.responseText);
                          });
                        }).fail(function (error) {
                          console.log("error",error);
                          alert(error.responseText);
                      });
                    }
                    
                  }).fail(function (error) {
                    console.log("error",error);
                    alert(error.responseText);
                  });
                }
              }
            ]
          }
        ]
      }
    },
    "msisdn",
    {
      "type": "actions",
      "items": [
        {
          "type": "button",
          "title": "Update",
          "onClick": function (evt) {
            var values = $('form.set').jsonFormValue();
            console.log("values",values);
            $.ajax({
              type: "PUT",
              url: '/campaign',
              data: {content : JSON.stringify([values])}
            }).done(function (result) {
              console.log("result",result);
              alert(JSON.stringify(result));
            }).fail(function (error) {
              console.log("error",JSON.stringify(error));
              alert(JSON.stringify(error));
            });
          }
        }
      ]
    }
  ],
  value: <%- campaign %>
});
  
  window.setInterval( function() {  
    $('form.set').find("select.nav").each(function(){
                  $(this).change();
    });
},5);
      
	</script>
</body>

</html>