<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>RCS Campaign Creator</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
</head>

<body>
	<div class="container-fluid">
      <div class="row">
          <div class="col-xs-23 col-md-12" style="text-align:center;"><h4><b>RCS Campaign Creator</b></h4></div>
        </div>
      <div class="row">
          <div class="col-xs-5 col-md-2"></div>
          <div class="col-xs-9 col-md-4">
            <h4>Invite a Tester</h4>
            <form class="tester well"></form>
          </div>
          <div class="col-xs-9 col-md-4">           
            <h4>Start the Campaign</h4>
            <form class="start well"></form>   
          </div>
          <div class="col-xs-5 col-md-2"></div>
      </div>
      <div class="row">
          <div class="col-xs-5 col-md-2"></div>
          <div class="col-xs-9 col-md-5">
              <h4>Send an RCS Campaign</h4>
              <form class="set well"></form>
          </div>
          <div class="col-xs-9 col-md-3">
              <div class="emulator">
                <div class="title"></div>
                <div class="content">
                  <ul>
                    <li>
                      <div class="him">
                        <div class="logo" style="background-image: url(/campaign/images/logo.png);"></div>
                        <div class="message">By this User, first message By this User first message By this User</div>
                      </div>
                    </li>
                    <li>
                      <div class="action">
                          <div class="button">Button</div>
                          <div class="call"><img src="/campaign/images/call.png">Call Me</div>
                          <div class="calendar"><img src="/campaign/images/calendar.png">Schedule</div>
                          <div class="location"><img src="/campaign/images/loc.png">Location</div>
                      </div>
                    </li>
                    <li>
                        <div class="me">
                          <div class="message">hello</div>
                        </div>
                    </li>
                    <li>
                        <div class="image-container">
                            <div class="image">
                                <div class="carousel">
                                  <img src="/campaign/images/pizza_trad_alfredo.png">
                                  <h4 style="padding-top:10px; padding-left:15px;"><b>Title</b></h4>
                                  <h5 style="padding-left:15px;">Description</h5>
                                  <h5 style="text-align: center; margin-bottom: 5px;"><a>Value</a></h5>
                                </div>
                                <div class="carousel">
                                  <img src="/campaign/images/pizza_trad_meateater.png">
                                  <h4 style="padding-top:10px; padding-left:15px;"><b>Title</b></h4>
                                  <h5 style="padding-left:15px;">Description</h5>
                                  <h5 style="text-align: center; margin-bottom: 5px;"><a>Value</a></h5>
                                </div>
                            </div>
                        </div>
                    </li>
                  </ul>
                 </div>
              </div>
          </div>
          <div class="col-xs-5 col-md-2"></div>
      </div>
    </div>
	<div id="res" class="alert"></div>
	<script type="text/javascript" src="deps/jquery.min.js"></script>
  <script type="text/javascript" src="deps/underscore.js"></script>
  <script type="text/javascript" src="deps/opt/jsv.js"></script>
  <script type="text/javascript" src="deps/opt/jquery.ui.core.js"></script>
  <script type="text/javascript" src="deps/opt/jquery.ui.widget.js"></script>
  <script type="text/javascript" src="deps/opt/jquery.ui.mouse.js"></script>
  <script type="text/javascript" src="deps/opt/jquery.ui.sortable.js"></script>
  <script type="text/javascript" src="deps/opt/bootstrap-dropdown.js"></script>
  <script type="text/javascript" src="lib/jsonform.js"></script>
  <script type="text/javascript" src="javascripts/rcslist.js"></script>
  <script type="text/javascript" src="javascripts/rcsinvite.js"></script>
  <script type="text/javascript" src="javascripts/rcsform.js"></script>
  <script type="text/javascript">
  jQuery.browser = {};
  jQuery.curCSS = function(element, prop, val) {
    return jQuery(element).css(prop, val);
  };
  (function () {
      jQuery.browser.msie = false;
      jQuery.browser.version = 0;
      if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
          jQuery.browser.msie = true;
          jQuery.browser.version = RegExp.$1;
      }
  })();
  var campaigns = <%- campaigns %>;

  var optCampaignIds = [];
  var optCampaigns = {};

  campaigns.forEach(function(campaign){
    optCampaignIds.push(campaign._id);
    optCampaigns[campaign._id] = campaign.name;
  });
    
  loadRCSlist(optCampaignIds,optCampaigns);
	</script>
</body>

</html>